<%= form_for(@drug) do |f| %>
  <% if @drug.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@drug.errors.count, "error") %> prohibited this drug from being saved:</h2>

      <ul>
      <% @drug.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :propname %><br>
    <%= f.text_field :propname %>
  </div>
  <div class="field">
    <%= f.label :typename %><br>
    <%= f.text_field :typename %>
  </div>
  <div class="field">
    <%= f.label :dosageform %><br>
    <%= f.text_field :dosageform %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
